layout {
    tab name="Zellij-Shell" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane split_direction="vertical" {
            pane split_direction="horizontal" size="65%" {
                pane edit=""
                // This require the `bacon` command to be installed
                pane command="bacon" name="Compile and reload plugin" {
                    size "25%"
                }
            }
            pane stacked=true {
                pane command="gitui" {
                     start_suspended true
                }
                pane
            }
        }
        floating_panes {
            pane {
                plugin location="zh"
                x 1
                y 3
            }
            pane command="lnav" name="logs" {
                args "/tmp/zellij-1000/zellij-log/zellij.log"
                width "80%"
                height "70%"
                x "100%"
                y "100%"
            }
        }

        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
